button {
margin-bottom: 16px;
}

.editable-cell {
position: relative;
}

.editable-cell-value-wrap {
padding: 5px 12px;
cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
border: 1px solid #d9d9d9;
padding: 4px 11px;
height:32px;
}
.t-center{
    text-align:center !important;
}

.mytable{
    th, td{white-space: nowrap;}
    .peiou td{background:rgba(211, 157, 121, 0.3);}
}