<div class="login-bg">

  <header>
    <img src="assets/images/logo.png" alt="">
    <div class="tab-container">
      <div class="tab-left">预分系统</div>
      <ul>
        <li><a href="#">搬迁系统</a></li>
        <li><a href="#">选房系统</a></li>
        <li><a href="#">签约系统</a></li>
        <li><a href="#">系统帮助</a></li>
        <li><a href="#">系统反馈</a></li>
      </ul>
    </div>
  </header>
  <div class="login-content">
    <div class="login-box">
      <div class="login-title">用户登录</div>
      <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入你的用户名!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="用户名" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="请输入你的密码!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="login-form-button login-button" [nzType]="'primary'">登录</button>
          </nz-form-control>
        </nz-form-item>
      </form>
      <p *ngIf="isShowMessage" style="color: red;">用户名或密码错误!</p>
      <div class="login-footer">
        <i nz-icon nzType="line-chart" nzTheme="outline"></i>
        <p>目前登记信息已经<span style="font-size: 22px; margin:0 5px;">500</span>条</p>
      </div>
    </div>
  </div>
  <div class="notice">
    <span style="font-size: 20px; font-weight: 600;">注意事项：</span>
    <div class="notice-content">
      我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事我是事项我是
      事项我是事项我是事项我是事项我是事项项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项我是事项
    </div>
  </div>

  <footer>
    ©XXX公司 2019
  </footer>
</div>