.main-container{
  background:#f2f2f2 url(../../../assets/images/bg-img.png) no-repeat 0 bottom;
  padding:0 0 50px 0;
  .edit-content{
    width:1280px;margin:30px auto;min-height:800px;
    padding:20px;background:#fff;box-shadow:0 0 20px #ccc;
  }
}